@model App4.Models.Pessoa 
@{
    ViewData["Title"] = "CadastrarPessoa";
}

<h1>CadastrarPessoa</h1>

<form action="" method="post">

    <hr/>
    <div class="form-group">
        <label class="control-label" asp-for="Codigo"></label>
        <span asp-validation-for="Codigo" class="text-danger"></span>
        <div class="col-10">
            <input class="control-label" asp-for="Codigo" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label"  asp-for="NomePessoa"></label>
        <span asp-validation-for="NomePessoa" class="text-danger"></span>
        <div class="col-10">
            <input class="control-label" asp-for="NomePessoa" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label" asp-for="Obs"></label>
        <span asp-validation-for="Obs" class="text-danger"></span>
        <div class="col-10">
            <textarea class="control-label" asp-for="Obs"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label" asp-for="Email"></label>
        <span asp-validation-for="Email" class="text-danger"></span>
        <div class="col-10">
            <input class="control-label" asp-for="Email">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label" asp-for="Login"></label>
        <span asp-validation-for="Login" class="text-danger"></span>
        <div class="col-10">
            <input class="control-label" asp-for="Login" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label" asp-for="Senha"></label>
        <span asp-validation-for="Senha" class="text-danger"></span>
        <div class="col-10">
            <input type="password" class="control-label" asp-for="Senha" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label" asp-for="ConfirmarSenha"></label>
        <span asp-validation-for="ConfirmarSenha" class="text-danger"></span>
        <div class="col-10">
            <input type="password" class="control-label" asp-for="ConfirmarSenha">
        </div>
    </div>
    <br /><br />
    <div class="form-group">
        <div class="col-md-offset-2 "> 
            <input type="submit" value="Cadastrar" class="btn btn-primary" />
            <a class="btn btn-secondary" href="~/Home/Index">Cancelar</a>
        </div>
    </div>
</form>
